<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/authentication.css" />
  </head>
  <body>
    <div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
      <div class="container form-card bg-white flex-column d-flex justify-content-center align-items-center p-4">
          <%- body %>
      </div>
    </div>
  </body>
</html>