<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
      <%- body %>
    </div>
  </body>
</html>
