<h5>Monolith Dashboard Login</h5>

<div class="container-fluid my-4">
  <form action="/auth/login" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
